@if (InputData?.Any() == true)
{
    <select id=@Id @onchange=@((e) => OnSelectedChanged?.Invoke(e.Value?.ToString()))>
        @if (HasDefaultSelectOption)
        {
            <option value="" selected=@string.IsNullOrWhiteSpace(this.SelectedValue)></option>
        }

        @foreach (var (key, value) in InputData)
        {
            <option value=@key selected=@(key?.Equals(SelectedValue, StringComparison.OrdinalIgnoreCase) == true)>@value</option>
        }
    </select>
}

@code
{
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? SelectedValue { get; set; }

    [Parameter]
    public bool HasDefaultSelectOption { get; set; }

    [Parameter, EditorRequired]
    public IDictionary<string, string>? InputData { get; set; }

    [Parameter, EditorRequired]
    public Action<string?> OnSelectedChanged { get; set; } = default!;
}

