<div class="row" style="border: 2px gray solid; padding: 10px; margin-bottom: 20px;">
    <div class="col-12">
        <Input  Id="SearchApplicationName"
                IsEditable=true
                LabelText="Applicant"
                @bind-Value=@SearchFilter.SearchApplicantName />
    </div>
    <div class="col-12">
        <DropDownList   Id="SearchApplicationStatus"
                        IsEditable=true 
                        LabelText="Applicant Status"
                        HasDefaultSelectOption=true
                        InputData=@EnumHelper.GetApplicationStatuses()
                        @bind-SelectedValue=@SearchFilter.SearchApplicationStatus />
    </div>
    <div class="offset-6 col-6">
        <button @onclick=@(() => SearchClicked.Invoke(SearchFilter))>Search</button>
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public Action<SearchFilterDto> SearchClicked { get; set; } = default!;

    SearchFilterDto SearchFilter { get; set; } =  new SearchFilterDto();
}